
  * {
    box-sizing: border-box;
  }
  
  .search-icon-find, .close-icon-close {
    width: 40px;
    height: 50px;
    font-size: 25px;
    background-color: #fff;
    color: red;
    border: none;
    cursor: pointer;
    position: absolute;
    transition: all 0.25s ease;
  }
  
  .close-icon-close {
    color: rgb(255, 83, 26);
    z-index: -1;
  }
  
  .search-box-title {
    font-size: 15px;
    font-weight: 500;
    width: 40px;
    height: 40px;
    left: -245px;
    bottom: 2px;
    padding: 15px;
    border-radius: 25px;
    background-color: #fff;
    color: #000;
    outline: none;
    border: none;
    transition: width 0.25s ease;
    position: absolute;
    z-index: -1;
}

.item-search {
  display: flex;
  align-items: center;
}

.active .search-box-title {
  width: 350px;
  z-index: 0;
}

.active .search-icon-find {
  transform: translate(-40px, 2px) scale(0.8);
  background-color: transparent;
}

.active .close-icon-close {
  z-index: 0;
  transform: translate(1px, 2px);
  bottom: 2px;
  right: 10px;
}


nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  padding: 20px;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}